* {
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.8);
}

.question {
    position: relative;
    background: white;
    padding: 5% 5% 2% 5%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

